<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <style>
        header>h3 > b {
            text-align: center;
            color: rgb(62, 146, 146);
        }
    </style>
</head>
<body>
    <header>
        <h3><b>Registration Form</b></h3>
    </header>
    <hr>
    
    <div>
        <fieldset>
            <legend><b>Register</b></legend>
            <form action="{% url 'accounts:register' %}" method="post">
                {% csrf_token %}
                <label for="username">Name</label><input name="username" type="text" required> <br>
                <label for="email" id="email">Email</label><input name="email" type="text" required> <br>
                <label for="password" id="password">Password</label><input type="password" required> <br>
                <label for="confirm_password" id="confirm_password">Confirm Password</label><input name="password" type="password" required><br>
                <input type="submit" value="submit" onclick="validate()">
            </form>
        </fieldset>
    </div>
</body>

<script>
    function validate(){
    let input_fields = document.getElementsByTagName('input');

    let name = input_fields[1].value; // its starts with 1 because the csrf token has taken no 0

    let email = input_fields[2].value;
    let password1 = input_fields[3].value;
    let password2 = input_fields[4].value;

    if (name == ""|| email== ""|| password1== ""||password2 == ""){
        alert("One or more fields empty");
        return false;
    }

    if (password1 !== password2){
        alert("Passwords do not match");
        return false;
    }
}
</script>
</html>