
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To&nbsp;Do</title>

    <style>
        nav{
            text-align: center;
        }
        li{
            list-style: none;
            display: inline;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li> <a href="">Add New To Do</a> </li> |
            <li><a href="">View All To do</a></li> |
            <li><a href="">History</a></li>
        </ul>
    </nav>
</body>
</html>