{% extends 'todo/base.html' %}
{% block title %}To&nbsp;Do{% endblock title %}

{% block style %}
    <style>
        nav{
            text-align: center;
        }
        li{
            list-style: none;
            display: inline;
        }
    </style>
{% endblock style %}
    
{% block nav %}
    <nav>
        <ul>
            <li> <a href="{% url 'todo:new' %}">Add New To Do</a> </li> |
            <li><a href="{% url 'todo:todos' %}">View All To do</a></li> |
            <li><a href="">History</a></li>
        </ul>
    </nav>
{% endblock nav %}
